.brd {
    border: 1px solid black;
}

.div2 {
    position: absolute;
    top: 50px;
    /* bottom: ;
    left: ;
    */
    right: 50%; 
}


.parent{
    border: 1px solid black;
    padding: 15px;
}
.child{
    height: 200px;
    width: 200px;
}
.child1{
    background-color: bisque;
}

.child2{
    background-color: rgb(255, 5, 5);
    opacity: 0.1;
    position: absolute;
    top: 200px;
    left: 100px;
}

.child2:hover{
    opacity: 1;
}