.container1{
    background-color: rgb(189, 158, 118);
    display: flex;
    justify-content: center;
    align-content: center;
    height:700px;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 50px;
    /* column-gap: 30px; */
    overflow: scroll;
}

.items{
    width: 150px;
    height: 150px;
    
}


.item1{
    background-color: aqua;
    order: 20;
}

.item2{
    background-color: red;
    order: 2;
}

.item3{
    background-color: green;
}


.item4{
    background-color: orange;
    order: 1;
}

.item5{
    background-color: rgb(225, 255, 0);
}

.item6{
    background-color: rgb(0, 123, 255);
}

.container2{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.box{
    border: 1px solid black;
    padding: 2px;
    /* flex-grow: 1; */
    text-align: center;
}

.box1{
    flex-grow: 6;
}
.box2{
    flex-grow: 1;
}
.box4{
    flex-grow: 3;
}

.container3{
    background-color: cadetblue;
    display: flex;

    margin: 20px 0;

    height: 200px;

}


.child{
    border: 1px solid black;
    width: 100px;
    /* flex-shrink: 0; */
    height: 100px;

}

.child3,.child6{
    /* order: -1; */
    /* flex-grow: 1; */
    flex-shrink: 5;
    background-color: blanchedalmond;
    align-self: center;

}

.child5{
    /* flex-shrink: 10; */
}


.container4 {
  display: flex;
  background-color: dodgerblue;
  margin: 50px 0;
}

.container4 div {
  background-color: #f1f1f1;
  color:#000;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  
}

.div3{
    flex-basis: 250px;
}
