body{
    margin: 0;
    padding: 0;
}
.box{
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.p{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    background-color: antiquewhite;
}