ol {
    list-style-type: lower-alpha;
}

#ul-img {
    /* list-style-type: square; */
    list-style-image: url(./images-removebg-preview.png);
}

/* span {
    border: 1px solid black;
} */

/* span:hover {
    font-size: 32px;
    padding: 5px;
} */


#ul-pos {
    list-style-position: inside;
}


table {
    width: 600px;
}

th,
td {
    padding: 7px 10px 10px 10px;
}

th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
}

tr.even {
    background-color: #efefef;
}

tr:hover {
    background-color: #c3e6e5;
}

.money {
    text-align: right;
}


.one{
    empty-cells: hide;
}


.heading-tr:hover{
    background-color: red;
}



.two{
    border-spacing: 20px;
}

.three{
    border-collapse: collapse;
    text-align: center;
}


a{
    cursor: default;
}